  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
     
}

body{
    background-color:  #F2F2F2;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    margin: 0 auto;
    width: 1140px;
    
}
.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    
    
    
}

.nav_title{
    color: white;
    font-size:25px;
    font-weight:bold;
    margin-left: -150px;
    margin-top: 40px;
}
.nav_item{
    margin-top: 45px;
}

.nav_list{
    display: flex;
    position: relative;
    left: -0px;
     
   
    
}
 
.nav_link{
    font-size: 18px;
    font-weight:bold;
    color:  darkgray;
    margin: 20px;
    transition: .3s;
    
}
 .nav_link:hover{
     color: white;
     transform: translatey(2px) scale(1.1);

 }
 .box{
    background-color: #5454D4;
    height: 760px;
    margin-top: -30px;
}
.text{
    color: white;
    margin-top: 40px;
}
.img{
    width: 20px;
    height: 20px;
    margin-left: -410px;
    margin-top: 40px;
}
.img2{
    width: 300px;
    height: 400px;
    margin-top: 150px;
}
.enjoy{
    display: flex;
}
.add{
    margin-left: 150px;
    margin-top: 200px;
}
.title{
    color: white;
    font-size: 50px;
    width: 500px;
    letter-spacing: 0.5px;
}
 .text1{
     color: #FFFFFF;
     width: 450px;
     margin-top: 20px;
     line-height: 30px;
     word-spacing: 1.9px;
 }
 .save{
     width: 270px;
     height: 80px;
     background-color:   #6565E9;
     position: absolute;
     border-radius: 10px;
     margin-top: 20px;
     
 }
.link{
    margin-left: 140px;
    font-size: 13px;
    position: relative;
    top: -40px;
    border: 1px solid  #77BF41;
    padding: 7px;
    border-radius: 5px;
    transition: .3s; 
     font-weight: bold;
     color: white;
     
     
}
.link:hover{
    background-color: #77BF41;
    transform: translatey(2px) scale(1.1);
}
 .to{
     margin-top: 120px;  
     width: 80px;
     border-radius: 5px;
     height: 50px;
     background-color: #F7F7FB;
 }
 .title1{
     color: white;
     font-size: 40px;
     margin-left: 15px;
 }
 .text2{
     color: #FFFFFF;
     margin-top: -33px;
     font-size: 13px;
     margin-left: 15px;
 }
 .link1{
     margin-left: 130px;
     color: black;
     margin-top: 30px;
     border: 1px solid #FEDC5A;
     padding: 10px 30px;
     border-radius: 5px;
     transition: .3s;
     position: relative;
     top: -80px;

 }
 .link1:hover{
     background-color: #FEDC5A;
     transform: translatey(2px) scale(1.1);
 }
 .text4{
     margin-left: 10px;
      
 }
 .cart{
     margin-top: -30px;
     position: relative;
     left: 50px;
     width: 30px;
     height: 45px;
     background-color: 
     #EAE9F2;
     border-radius: 5px;
     margin-left: 0px;
 }
 .title2{
     margin-left: 20px;
     font-size: 25px;
     margin-top: 40px;
     position: relative;
     top: 5px;
 }
 .img3{
     width: 30px;
     height: 30px;
      position: relative;
      top: 15px;
      left: 7px;
 }
  
.www{
    width: 230px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 5px;

}
 .title4{
     font-size: 13px;
 }
 .text6{
     font-size: 10px;
     margin-top: 5px;
      
 }
 .unique{
      margin-top: -22px;
      margin-left: 50px;
      
 }
 .unique1{
    margin-top: -22px;
    margin-left: 50px;

    
}
.design{
    margin-top: 20px;
}
.www1{
    margin-top: 20px;
    width: 230px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 5px;
}
.img4{
    width: 500px;
    height: 500px;
    margin-left: 150px;
}
.title3{
    font-size: 50px;
    width: 400px;
}
.text5{
    width: 400px;
    margin-top: 20px;
    line-height: 30px;
}
.get{
    display: flex;
    margin-top: 150px;
}
.title5{
    color: #FFFFFF;
     position: relative;
     left: 400px;
     top: 100px;
     width: 400px;
     font-size: 50px;
     line-height: 70px;
     text-align: center;
  
}
.box3{
    background-color: 
    #413E65;
    height: 780px;
    margin-top: 100px;
    
}
.you{
    display: flex;
    margin-top: 200px;
}
.www3{
    width: 280px;
    height: 67px;
    background-color: #EAE9F2;
    margin: 30px;
    border-radius: 5px;
   
}
.title6{
     position: relative;
     left: 80px;
     top: -10px;
     font-size: 15px;
}
.need{
    margin-left: -970px;
    margin-top: 230px;
    display: flex;
  
}
.www2{
    margin: 30px;
    width: 280px;
    height: 67px;
    background-color: #EAE9F2;
    margin: 30px;
    border-radius: 5px;
}
.first{
    display: flex;
    position: relative;
    left: 50px
}
.img6{
    width: 30px;
    height: 30px;
    position: relative;
    top: 18px;
     left: 35px;
}
.box4{
    display: flex;
    position: relative;
    left: 150px;
    top: -240px;
}
.mobile{
    width: 280px;
    height: 67px;
    background-color: #EAE9F2;
    margin: 30px;
    border-radius: 5px;
}
.title7{
    font-size: 50px;
}
 .text7{
     width: 430px;
     text-align: center;
     margin-left: -15px;
     margin-top: 30px;
     line-height: 29px;
     color: 
     #696871;
      

 }
 .music{
     margin-top: 100px;
     margin-left: 370px;
 }
 .bag{
       margin-top: 100px;
 }
 .img7{
     width: 400px;
     height: 550px;
     margin-left: 40px;
     filter: drop-shadow(0px 52px 54px rgba(65, 62, 101, 0.296766));
 }
 .img8{
    width: 700px;
    height: 550px;
    margin-left: -60px;
    filter: drop-shadow(0px 52px 54px rgba(65, 62, 101, 0.296766));
}
.are{
    display: flex;
     position: relative;
     top: 200px;
}
.img9{
    width: 750px;
    height: 650px;
    margin-top: -200px;
     position: relative;
     left: -70px;
     border-radius: 5px;
}
.box5{
    height: 650px;
    background-color: #5454D4;
    margin-top: 50px;
    
}
.title8{
    color: #FFFFFF;
    font-size: 50px;
    letter-spacing: 0.3px;
    width: 500px;

}
.now{
     position: relative;
     left: 90px;
     top: -50px;
}
.text8{
    color: #FFFFFF;
    width: 400px;
    line-height: 30px;
    margin-top: 20px;
}
.link4{
    margin-top: 40px;
    color: #FFFFFF;
    border: 1px solid #FEDC5A;
    transition: .3s;
    padding: 10px 40px;
    border-radius: 5px;
}
.link4:hover{
    background-color: #FEDC5A;
    color: black;
    transform: translatey(2px) scale(1.1);

}
.title9{
     font-size: 50px;
}
.text9{
    width: 400px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    margin-left: -20px;
}
.say{
    margin-left: 450px;
    margin-top: 100px;
}
.beat{
    display: flex;
    margin-top: 100px;
    margin-left: 320px;
}
.img10{
    width: 30px;
    height: 30px;
    position: relative;
    top: 40px;
    left: 20px;
}
.text10{
    width: 250px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 20px;
    color: #01010f;
}
.omg{
    width: 280px;
    height: 180px;
    background-color: #FFFFFF 70%;
    border: 1px solid #EAE9F2;
    border-radius: 5px;
}
.ceo{
    margin-left: 60px;
}
.title10{
    font-size: 15px;
}
.text11{
    font-size: 12px;
    margin-top: 3px;
}
.omg1{
    width: 280px;
    height: 180px;
    background-color: #FFFFFF 70%;
    border: 1px solid #EAE9F2;
    border-radius: 5px;
    margin-left: 30px;
}
.try{
    margin-top: 92px;
    margin-left: 18px;
}
.img11{
    width: 50px;
    height: 10px;
    margin-top: 100px;
    margin-left: 700px;
}
.try1{
    display: flex;
    margin-left: -150px;
}
.img12{
    width: 25px;
    height: 10px;
}
.box8{
    height: 350px;
    background-color: #5454D4;
    margin-top: 100px;
}
.title12{
    color: white;
    font-size: 60px;
    width: 600px;
    position: relative;
    top: 100px;
    left: 100px;
}
.link5{
    margin-left: 900px;
    margin-top: 5px;
    font-size: 20px;
    border: 1px solid #FEDC5A;
    transition: .3s;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
}
.link5:hover{
    background-color: #FEDC5A;
    color: black;
    transform: translatey(2px) scale(1.1);
}
.omega1{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.support{
    display: flex;
    margin-top: 15px;
    margin-left: 200px;
}
.and1{
     margin-left: 250px;
}
.link6{
     transition: .3s;
     color: darkslategray;

}
.link7{
    transition: .3s;
}

.link6:hover{
    color: darkseagreen;
    transform: translatey(2px) scale(1.1);
}
.link7:hover{
    color:  darkseagreen;
    transform: translatey(2px) scale(1.1);
}
.and3{
    position: relative;
    left: 90px;

}
.and2{
    position: relative;
    left: 50px;

}